/* feedback pages */

/*-------------------- basic html elements and classes --------------------*/

#fbheading {
    margin-top: 69px;
    overflow: hidden;
    padding-left: 5px;
}

#fbheading h2 {
    padding-top: 0px;
}

