/* Global vars */

/* fonts */
$base-font-family: "Open Sans", "Lucida Grande", "Helvetica Neue", Arial;
$base-font-size: 16px;
$small-font-size: 12px;
$base-font-color: #444;
$base-font-color-dark: #333;
$base-font-color-orange:#E47911;
$base-font-color-orange-dark:#c60;
$comp-font-color-blue:#007697;
$comp-font-color-orange:#FF932B;

/* lines */
$accent-line-grey: #ccc;